@import "../../../../../assets/style/main.scss";

// .Home {

// }
.page-item {
  a {
    border-bottom: #e0e0e0 1px solid !important;
  }

  .page-link {
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    color: #808080;
    padding: 10px;
    height: 100%;
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
  
  .page-item .page-link:focus, 
  .page-item .page-link:active {
    outline: none;
    box-shadow: none;
  
  }

  &.active .page-link {
    background-color: var(--light-blue);
    color: white !important;
    border: 1px solid var(--light-blue);
  }
}